<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body class="p-2xs-m overflow-hidden">
    <f-nav class="my-3xs w-[max-content] h-[max-content]"></f-nav>
    <main
      router:page="{{ page.fileSlug }}"
      class=" flow | row-[1] col-[1/3] md:pt-[4rem] z-1"
    >
      {{ content | safe }}
    </main>
    <script src="/js/main.js" type="module"></script>
  </body>
</html>