---
layout: layouts/base.njk
---

<ul class="pb-xs" c:b="stagger-columns">
  {% for asset in assets %}
    <li>
    {% if r/jpg|jpeg|png/g.test(asset) %}
      {% if build.env == 'production' %}
        {% imgMin '.',asset,'A work of art!','100%' %}
      {% else %}
        <img src="{{asset}}" alt="">
      {% endif %}
    {% elseif '.mov' in asset %}
      <video src="{{asset}}" autoplay loop muted></video>
    {% endif %}
  </li>
{% endfor %}
</ul>