---
layout: layouts/base.njk
---

<ul class="pb-xs" c:b="stagger-columns">
  {% for asset in assets %}
    <li>
      {% if r/jpg|jpeg|png/g.test(asset) %}
        {% if build.env == 'production' %}
          {% imgMin '.',
          asset,
          'A work of art!',
          '100%' %}
        {% else %}
          <img src="{{asset}}" alt="">
        {% endif %}
      {% elseif '.mov' in asset %}
        <video src="{{asset}}" autoplay loop muted alt="looping animation"></video>
      {% elseif '.svg' in asset %}
        <img src="{{asset}}" alt="A scalable work of art!">
      {% endif %}
    </li>
  {% endfor %}
</ul>