---
layout: layouts/base.njk
---

<div c:b="welcome" class="wrapper | grid mx-auto pb-xl">
  {% include "partials/sphere.njk" %}
  <h1 class="md:col-[2/3] row-[2]">
    <span>I am</span>
    <span class="text-primary">marcus aldrin</span>
  </h1>

  <p class="md:col-[3/5] row-[3] md:text-center">
    Designing Engineering <strong>&&</strong>
    <span style="white-space: nowrap"> Information Designing</span>
    <br />
    Algorithmic UI <strong style="margin-right: 0">&&</strong>
    <span class="whitespace-nowrap">
      <span style="letter-spacing: 0.1ch">Markup</span>
      <span>&eqcolon;</span>
      <span style="color: hsl(var(--col-ternary))"
        >Love
        <span
          style="
            color: red;
            vertical-align: middle;
            transform: scaleY(0.75);
            display: inline-block;
          "
          >&heartsuit;</span
        ></span
      >
    </span>
  </p>
</div>
