---
layout: layouts/base.njk
---

<div c:b="welcome" class="wrapper | grid px-3xs md:grid-cols-7 mx-auto pb-xl">
  {% include "partials/sphere.njk" %}
  <h1 class="md:col-[2] row-[2] md:row-[3] whitespace-nowrap">
    <span class="" style="word-spacing:0.1ch">I am</span>
    <span class="text-primary ">mkj</span>
  </h1>

  <p class="text-2 mt-m md:col-[-5/-1] md:row-[5] md:text-right">
    Designing Engineering <strong>&&</strong>
    <span style="white-space: nowrap"> Information Designing</span>
    <br/>
    <span class="w-[20%] h-3xs bg-black inline-block"></span>
    <br>
    Algorithmic UI <strong style="margin-right: 0">&&</strong>
    <span class="whitespace-nowrap">
      <span style="letter-spacing: 0.1ch">Markup</span>
      <span>&eqcolon;</span>
      <span style="color: hsl(var(--col-ternary))"
        >Love
        <span
          style="
            color: red;
            vertical-align: middle;
            transform: scaleY(0.75);
            display: inline-block;
          "
          >&heartsuit;</span
        ></span
      >
    </span>
  </p>
</div>