<nav
  id="site-nav"
  data-state="close"
  style="box-sizing: content-box"
  class="h-[3rem] bg-white/95 pb-[1rem] col-[1] row-[1] max-w-[max-content] rounded-md shadow-black/10 shadow-sm"
>
  <button style="box-sizing: content-box" class="h-full border-none p-[0.5rem]">
    <svg
      width="100%"
      height="100%"
      viewBox="0 0 20 80"
      preserveAspectRatio="xMidYMin"
      fill="currentColor"
    >
      <circle cx="10" cy="10" r="8" />
      <circle cx="10" cy="40" r="8" />
      <circle cx="10" cy="70" r="8" />
    </svg>
  </button>

  <ol class="list-none bg-white rounded-sm shadow-black/10 shadow-lg">
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/work">work</a>
    </li>
    <li>
      <a href="/about">about</a>
    </li>
  </ol>
</nav>
<div id="overlay"></div>
